@import "tailwindcss";
body {
  font-family: "Saira", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.bg-purple {
  background-color: #923cb5;
}
::-webkit-scrollbar {
  background-color: #933cb59e;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: #923cb5;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: white;
  transition: all 0.3s ease-in-out;
}
